[2017-01-17 18:44] mattgawarecki opened #6 "Associate drugs with their therapeutic uses"
# Task
We currently have a listing of drug names (both brand and generic) and a separate list of [ATC codes](https://en.wikipedia.org/wiki/Anatomical_Therapeutic_Chemical_Classification_System). We'd like to find a way to associate these two data sets in such a way that we can look up a given drug's therapeutic uses using its name.

# How this will help
If we can establish a link between drug name

[2017-01-17 19:08] mattgawarecki opened #7 "Design dashboard UI"
**Currently blocked: Need to decide which information will be displayed by the dashboard**

As we define requirements for our dashboard, we need to sketch out a friendly, intuitive user interface to display the information it holds.

[2017-01-17 19:15] mattgawarecki commented on #7
Early conceptual drawings (credit @jenniferthompson):

![single graphic showing total spending by drug class](https://cloud.githubusercontent.com/assets/670067/22035835/fe017f96-dcb6-11e6-8c31-9bf1e66624f2.jpg)
![drug class](https://cloud.githubusercontent.com/assets/670067/22035846/0150350c-dcb7-11e6-830e-c710658e46c9.jpg)

[2017-01-17 20:13] mattgawarecki opened #8 "Move drug spending data to data.world"
# Task
Upload drug spending data to data.world for long-term storage so it can be queried and downloaded easily and independently.

# How this will help
By making our data available on data.world, we accomplish a few things:
* GitHub is meant for storing code; data.world is much better suited to storing and querying data
* We'll be keeping the source code repository "clean" and free of potentially

[2017-01-18 21:09] mattgawarecki opened #9 "Investigate new data source: Chronic Conditions Data Warehouse"
# Before you continue
**NOTE:** We believe this website is only reachable from a United States IP. If you're working outside the US, you may not be able to work on this issue.

# Task
The Centers for Medicare and Medicaid Services have another website that contains all sorts of information geared toward reducing spending on chronic diseases and conditions. Explore the [Chronic Conditions Data Ware

[2017-01-20 22:27] jenniferthompson commented on #6
Might should be a separate issue, but: inspired by benzodiazepine conversation on Slack - thinking about adding "a. therapeutic uses and b. **classes**"? Eg, I might be interested in all cardiology meds or specifically statins.

[2017-01-21 20:37] jenniferthompson opened #12 "Add context to CMS data on Medicare Part D"
We're currently working mainly with [Medicare Part D claims & spending data](https://www.cms.gov/Medicare/Prescription-Drug-Coverage/PrescriptionDrugCovGenIn/PartDData.html), which is informative on its own; however, we need context in order to have a good idea of the broader picture. Some ideas:

- What % of overall Medicare spending does Part D comprise? What % of the overall federal and HHS bud

[2017-01-22 18:28] seamus-mckinsey commented on #12
[This fact sheet from the Kaiser Family Foundation (KFF)](http://kff.org/medicare/fact-sheet/the-medicare-prescription-drug-benefit-fact-sheet/) has really good information on the Part D program, which I've tried to summarize below. To answer a few of the questions you outlined above:

- **Spending**: The Congressional Budget Office (CBO) estimates that spending on Part D benefits will total $94 b

[2017-01-22 19:21] jenniferthompson commented on #6
Thinking a first step on this could be to separate generics from brand names in drug_list.json. Some are pretty easy (`Humira (adalimumab)`), some are quite a bit trickier.

[2017-01-22 23:03] kennethgoodman commented on #7
Will this interface be used by Tech-savvy people? Ipython widgets might be perfect as a start. Otherwise [kibana](https://www.elastic.co/products/kibana) is pretty easy to use, as a query interface, and can be embedded. This isn't some nice D3 website, but is a start and can be used to see what people actually want to see.

[2017-01-23 04:00] jenniferthompson commented on #7
@kennethgoodman The idea is to have it (eventually) as accessible and clearly informative to the public as possible, whatever form(s) it takes. A couple of us have started working on R Shiny apps; I hadn't looked at Kibana - cool!

[2017-01-25 01:11] #8 closed, assigned to mattgawarecki

[2017-01-25 13:50] acutrell commented on #6
I don't want to send you down a rabbit hole, but has anyone explored RxNorm? It may provide a link. The National Drug Codes in the Medicare file are linked to the First Databank Medknowledge proprietary database. It is one of the source vocabularies (SAB table)) used by RxNorm. ATC is another SAB. Just a thought.  https://www.nlm.nih.gov/research/umls/rxnorm/

[2017-01-25 14:16] mattgawarecki commented on #6
@acutrell Thanks for the heads up!

All: Because we've gotten quite a few more leads into drug use data sets, I'm going to create a separate issue for it. I think we've discovered a new need -- consolidating all these sources into a list for later curation and exploration.

[2017-01-25 14:23] mattgawarecki opened #14 "Consolidate a list of data sources for drugs and their uses"
# Task
Create a list of data sources linking drug names to their uses and/or other similar drugs. Post the end result in this issue so we'll have a record we can look back on.

# How this will help
Issue #6 also relates to drug uses; specifically, it seeks to link the drugs in our Medicare Part D data set to their respective purposes. While we started #6 with a good set of data to work from, there

[2017-01-25 14:26] mattgawarecki commented on #14
Listing a few resources that people have already mentioned in Slack or elsewhere:
* [RxNorm](https://www.nlm.nih.gov/research/umls/rxnorm/)
* [MedlinePlus](https://medlineplus.gov/druginformation.html)
* [KEGG BRITE](http://www.genome.jp/kegg-bin/get_htext?br08303.keg)

[2017-01-28 20:54] jenniferthompson commented on #12
Thanks so much, @seamus-mckinsey! Can't wait to dig through all this - looks like some great and helpful info!

[2017-01-29 21:55] mattgawarecki opened #15 "Breakdown of drug spending by use(s)/purpose(s)"
# Task
Analyze Medicare Part D spending to build an understanding of the most treated conditions, as well as what's the most expensive to treat.

This is your chance to break out the tables, graphs, and charts!

# How this will help
If we can get an idea of what Part D is being used to treat, we can do further exploration to find ways of reducing cost and improving overall quality of care.

[2017-01-29 22:56] mattgawarecki opened #17 "Collect and clean Medicare Part B spending data"
# Task
Download the [Part B spending data](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Information-on-Prescription-Drugs/2015MedicareData.html) from CMS and convert it to an accessible format that's easier to analyze.

# How this will help
Part D is a large component of drug spending with respect to Medicare, but Part B is significant, as well. If we inco

[2017-01-30 00:55] mattgawarecki opened #18 "Find drugs with the largest year-over-year increases in claims, spending"
# Task
Analyze all available data to determine which drugs and/or types of drugs show the biggest year-over-year increases in claims and spending (total and/or per-user).

# How this will help
If we can understand which medicines are being used more often, it gives us more ideas as to how America's health issues continue to evolve. Using this information, we can ask deeper questions and search for

[2017-01-31 02:21] sgalletta213 commented on #17
Done!  Made a commit for the data and code.

[2017-01-31 05:49] jenniferthompson commented on #12
Possible source of good contextual info - [CMS Statistics Reference Booklet](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/MedicareMedicaidStatSupp/index.html)

[2017-02-01 00:02] sgalletta213 commented on #9
**Summary:** There is some chronic condition data that may be helpful.  Other than that, this source contains several free tables that are likely too small to be helpful, and several comprehensive but expensive data sets ($1,000 - $20,000 per data set per year).

**Chronic condition data:** The [Condition Categories page](https://ccwdata.org/web/guest/condition-categories) contains a PDF listing c

[2017-02-01 02:16] jenniferthompson commented on #9
This is a great summary @sgalletta213!

Oh man I got so excited - it looks like Medicare has **claim-level data** with encrypted patient IDs!! ...except the price quote for just Part D drug events is $160,000 (I think $20,000/year). HA. Still, an email never hurt anyone! Currently only goes through 2013.

[2017-02-01 13:13] mattgawarecki commented on #17
Closing this issue since we merged #20. Great work, @sgalletta213! 👍

[2017-02-01 13:13] #17 closed, assigned to nobody

[2017-02-01 13:39] sgalletta213 commented on #9
Agreed that an email can't hurt!

Poking around CMS this morning, and found that there is some data available for free at [https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/BSAPUFS/BSA_PDE_PUF.html](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/BSAPUFS/BSA_PDE_PUF.html)

It's a claim-level drug spend data from 5% random

[2017-02-01 17:07] mrklees opened #22 "Investigate new data source: Medical Expenditure Panel Survey"
# Task
Data is annually collected by the Agency for Healthcare Research and Quality that is used to make nationally representative estimates of health care use, expenditures, sources of payment, and health insurance coverage.  Investigate the website housing all of this data, [meps.ahrq.gov](https://meps.ahrq.gov/mepsweb/data_stats/download_data_files.jsp), and find any data files which include de

[2017-02-01 17:57] jenniferthompson opened #23 "Create Github doc listing current and potential data sources"
As the project evolves, we're collecting lots of disparate sources of data, and getting leads to look into others. We'd love for someone to put together a list of

- what we're using currently
- what has been suggested but not yet looked into
- what has been looked into and is unlikely to be helpful

to help prevent effort duplication and better document what we have and what we need.

[2017-02-01 18:50] jenniferthompson commented on #22
Awesome - thanks @mrklees!

[2017-02-01 20:24] jenniferthompson commented on #23
Looks like I jumped the gun and Matt already created this :) Closed in favor of [issue 14](https://github.com/Data4Democracy/drug-spending/issues/14)

[2017-02-01 20:24] #23 closed, assigned to nobody

[2017-02-02 00:38] dhuppenkothen commented on #15
I'd like to take a stab at this over the coming few days, unless that would duplicate someone else's work?

[2017-02-02 03:33] mattgawarecki commented on #15
Go for it! I don't think you'll be duplicating anything. Even if you do,
though, that's the kind of thing that sparks discussion and builds great
ideas! Make sure to assign the issue to yourself, and don't forget to shout
if you run into problems! :+1:

On Feb 1, 2017 18:38, "Daniela Huppenkothen" <notifications@github.com>
wrote:

I'd like to take a stab at this over the coming few days, unless t

[2017-02-02 04:01] jenniferthompson commented on #15
Agreed! I think this will be hard to finalize till we wrap up [issue 6](https://github.com/Data4Democracy/drug-spending/issues/6), but it can definitely get worked on in the meantime!

[2017-02-02 13:15] dhuppenkothen commented on #15
Thanks! It doesn't look like I can actually assign the issue to myself. "Assignees" is greyed out for me. Could one of you assign me?

@jenniferthompson I realized that, too, last night. I'm currently hacking my way through a (perhaps temporary) solution. Not sure yet whether it'll work; let's see.

[2017-02-02 13:24] mattgawarecki commented on #15
@dhuppenkothen I'll work on getting you assigned to the issue. I think we need to get you officially added to the D4D organization to make that happen :-) Will update when I know more, and/or when it's taken care of.

[2017-02-02 13:58] mattgawarecki commented on #15
You should now have an invite to the org -- whenever you accept, let me know and I'll officially assign the issue to you. :-)

Remember to fork the repo into your own account first, then do your work there. When you're finished, submit a pull request ("PR") to this repo and we'll review/merge it. Thanks so much for pitching in!

[2017-02-02 14:52] jenniferthompson commented on #15
All set @dhuppenkothen!

[2017-02-02 14:55] dhuppenkothen commented on #15
Thanks, @jenniferthompson

[2017-02-02 17:19] mrklees commented on #22
I have begun to document the data available on meps.ahrq.gov in [this google sheet](https://docs.google.com/spreadsheets/d/1zZVzO9e_y9hXnpoEcFBOlJC_cjVeyw0JWJxTiiq2Its/edit?usp=sharing).

Update:
If anyone is looking for a way to collaborate on this, a good way would be to open up the google sheet and the navigate to the documentation of the 2014 Full Year consolidated data file.  Then dig through

[2017-02-02 22:59] davidlibland commented on #18
I'd be happy to help with this task. I've started looking at this for the data in the github directory part_b_spend_clean/output/part_b_spend_clean.csv
Is that the data I should be looking at?

[2017-02-03 04:33] peter0083 commented on #14
adding to the list:
[Merck Manual Professional](http://www.merckmanuals.com/professional/appendixes/brand-names-of-some-commonly-used-drugs?startswith=a#section_10)
Instruction: select a drug you want to look up and you will see "Use: Labeled Indications" on the left panel

[2017-02-03 04:34] jenniferthompson commented on #18
@davidlibland Hi! We've mostly been looking at part D so far, but I imagine the question would apply to both B and D. Thanks for getting it started! We'd love to have you in the [Slack channel](https://datafordemocracy.slack.com/messages/drug-spending/) - I just tried to invite you and save you a step, but it won't let me for some reason.

[2017-02-03 13:53] mattgawarecki commented on #18
@jenniferthompson I took care of the channel invite just now. :-)

@davidlibland: If you're comfortable with it, I think it would be useful to get comparisons for both Part B and D like @jenniferthompson suggests. You can find the data for Part D at https://data.world/data4democracy/drug-spending -- they're the files named `spending-{year}.*`, and they should be available in both CSV and feather f

[2017-02-05 19:55] cduvallet commented on #14
FYI - waiting for access to the data.world account to finalize some changes before pull requesting, but I've finished tidying the [KEGG USP Drug Classification](http://www.genome.jp/kegg-bin/get_htext?htext=br08302.keg) data.

Looks like it has info on non-Medicare drugs including drug categories and classes. For example, Naproxen's drug category is `Analgesics` and its class is `Nonsteroidal Anti

[2017-02-06 04:56] pabramowitsch commented on #6
This Dx to to drug information is commercially available from the company First Databank which is owned by Hearst Business Media.  I work for a sister group within Hearst and am very familiar with FDB's information model.    It includes not only therapeutic uses, but a huge amount of ancillary info about cost, packaging, dosing by age/sex, generics, and much more.

[2017-02-06 15:16] mattgawarecki commented on #14
@cduvallet I just added you to the data.world organization. Thanks for taking this on!

[2017-02-06 16:22] jenniferthompson commented on #6
@pabramowitsch Oh wow, that would be really helpful. Do you have a link or know how much it would cost/how open they'd be to working with nonprofits?

[2017-02-06 16:51] jenniferthompson commented on #15
@dhuppenkothen Do you have a vision in mind for what you want to do here? In the process of writing up what we're working on, I'm wondering if this and [issue 7](https://github.com/Data4Democracy/drug-spending/issues/7) are basically getting at the same thing (Issue 7 is pretty vague and was added awhile back, before we started to get rolling on organization). Since you and I are assigned to each

[2017-02-06 16:52] jenniferthompson commented on #7
Current dashboard link: https://jenniferthompson.shinyapps.io/shinydashboard-medicared/

[2017-02-06 16:59] dhuppenkothen commented on #15
@jenniferthompson Yes, we should! My hope for this issue was to explore the data and proto-type informative and useful visualizations (for some yet-to-be-determined definition of "informative" and "useful"). It may end up that these visualizations will have an interactive component, in which case they might tie in really well with the Dashboard?

At this stage, though, my goal is to figure out wha

[2017-02-06 17:21] jenniferthompson commented on #15
@dhuppenkothen Definitely reasonable! Yeah, I think a combination of static and interactive visualizations could work really well for this.

How about I focus on getting things really well organized (repo structure, data dictionaries) for the next few days while you dive deep into this, and once you've got your plan in mind we can talk about specifics? I'm open to adding to the current dashboard o

[2017-02-06 19:01] dhuppenkothen commented on #15
Yes, that sounds good.

[2017-02-06 21:18] jenniferthompson opened #32 "Update and finalize data contribution docs"
Leaving this here mostly as a to-do list.

- Add link to best practices from data.world (https://docs.google.com/document/d/1p5A2DQ5gFC7XVKNVDw_ifKnycv_j1udmqY1M0rjbcxo/edit)
- Clarify what should go in README vs what should go in data dictionary
- ~Add link to objectives statement~
- Add preference for CSV + feather formats unless there's a reason to do otherwise
- ~Edit folder to `datadictionari

[2017-02-07 02:07] pabramowitsch commented on #6
I think a simple license is in the range of 50K per year, but I can ask how it might work for a non profit.  They are obviously very protective of their data sets as there is a huge editorial effort behind them (20+ pharmacists and clinicians in addition to IT staff).  There would need to be some assurance that it didn't leak into other uses.

Peter

      From: Jennifer Thompson <notifications@gi

[2017-02-07 02:11] travisbusen commented on #14
I've requested a UMLS license for the full RxNorm data

[2017-02-07 04:08] jenniferthompson commented on #6
@pabramowitsch That definitely makes sense from a business perspective... not sure it would mesh well with the current D4D model of keeping most everything open. Which is a bummer!

[2017-02-07 19:00] selahlynch commented on #15
Hey, I'd love to help with this task also.  Any chance you could add a link some of the relevant datasets to be used.  I'm having some difficulty figuring out what they might be.
PS... I pledge to do some data cleaning/grunt work as well

[2017-02-08 15:20] Guilhermeslucas commented on #9
Is the ccw site down?

[2017-02-08 15:24] mattgawarecki commented on #9
@Guilhermeslucas I'm able to get to it from my machine. Are you unable to load https://ccwdata.org/web/guest/about-ccw ?

[2017-02-08 15:28] Guilhermeslucas commented on #9
No :/ Is there region restriction, something like that, since i'm trying to connect from brazil?

[2017-02-08 15:50] jenniferthompson opened #37 "Create keys to join Medicare Part D spending, manufacturer, and lobbying info"
We need to be able to join related datasets (stored at [data.world](https://data.world/data4democracy/drug-spending)) that currently don't have keys in common. Prime candidates currently include:

drugdata_clean.csv
Pharma_Lobby.csv
all `spending-201x.csv`s

[2017-02-08 15:56] dhuppenkothen commented on #37
Maybe also RxNorm and the CMS drug class data?

[2017-02-08 15:58] jenniferthompson opened #38 "Create glossary of terms found in our datasets/context"
Healthcare has lots of abbreviations, acronyms and terms. Most of us don't know them all. We need a glossary to help us understand them. Ideally, we'd have a format like:

1. *term*: quick description. Link(s) for more info.
1. *RxNorm*: normalized names for clinical drugs to enable linking between sources. [More info: NIH/National Library of Medicine](https://www.nlm.nih.gov/research/umls/rxnorm/

[2017-02-08 16:34] jenniferthompson commented on #15
@selahlynch All our datasets are in our [repo on data.world](https://data.world/data4democracy/drug-spending) - so far most of the work has been with the CMS Medicare Part D data (`spending-201x` files). Not sure what @dhuppenkothen has going on so far!

[2017-02-08 16:38] dhuppenkothen commented on #15
I haven't used any data sets from `data.world`, as far as I know. The `read_data.py` does all the data reading for what I've been doing so far, but maybe some of those data sets should go up on data.world?

[2017-02-08 16:48] jenniferthompson commented on #15
@dhuppenkothen Looking through `read_data.py` - yes, it would be excellent for the prescription drug profiles and RxNorm data to get on data.world (and any other datasets I'm missing). Then non-Pythoners can use it too! That would be really helpful.

[2017-02-08 16:50] dhuppenkothen commented on #15
Could you perhaps open an issue and attach it to me? Then I'll get on that after work tonight.

[2017-02-08 16:53] jenniferthompson opened #40 "Add datasets collected & cleaned by `read_data.py` to data.world"
`read_data.py` collects and tidies several datasets not currently available on data.world - we need to add these to the data.world repo + document them here for use by all.

[2017-02-08 16:57] jenniferthompson commented on #15
@dhuppenkothen yep, I was already on it :) done!

[2017-02-08 18:21] mattgawarecki commented on #12
@jenniferthompson Is the work for this issue complete?

[2017-02-08 18:37] jenniferthompson commented on #12
@mattgawarecki I'm not sure how much has even been done, but it's pretty vague and we may need to edit/replace it.

I had in mind something like compiling a list of events/policy changes that would affect things we see in the data and that we could include in reports/visualizations to help explain what we're seeing. Like on the dashboard, if you choose a benzodiazepine, you might see an annotation

[2017-02-08 18:50] jenniferthompson commented on #9
Looks like this site is only available in the US, unfortunately; people from Canada and Mexico were also unable to access it.

[2017-02-08 19:33] skirmer commented on #37
The keying of companies is finished, I submitted PR #41 with the script and will add the dfs to data.world somehow. The keying of drugs I could work on later this week, depending on how busy things get, but if someone else wants to that is also great.

[2017-02-10 00:26] cduvallet commented on #14
@peter0083 - are you working on the Merck Manual? If not, I'll take a stab at scraping it - seems quite useful!

[2017-02-10 16:23] mattgrieser commented on #38
I'd love to help with this. Where would this glossary ideally live?

[2017-02-10 17:09] jenniferthompson commented on #38
@mattgrieser The goal is to have it as a Markdown document in our `/docs` folder here (Github is our central repository for everything except our data, which lives on data.world). Thank you! This will be great.

[2017-02-10 17:53] peter0083 commented on #14
@cduvallet - actually I haven't been able to work on Merck Manual yet. Please go ahead! :smiley:

[2017-02-10 20:53] jenniferthompson opened #45 "Tidy, document and submit data from OpenPaymentsData.CMS.gov"
[OpenPaymentsData.CMS.gov](https://www.cms.gov/OpenPayments/Explore-the-Data/Dataset-Downloads.html) has data available on payments received by private physicians and teaching hospitals, broken down by type of expense, company, etc. We need someone to download this data, make sure it's in a [tidy](https://en.wikipedia.org/wiki/Tidy_data) format, document it, and upload it for project use to our [d

[2017-02-10 20:58] jenniferthompson opened #46 "Create visualization to help understand physician/hospital payments"
OpenPaymentsData.CMS.gov has data available on physician and teaching hospital payments from pharmaceutical and device companies. We'd like to explore it to see information like...

* How do patterns vary by physician specialty?
* How have payment patterns changed over time?
* other questions of interest

Note that this is blocked until issue #45 is completed.

[2017-02-10 21:00] jenniferthompson opened #47 "Visualize/describe how payroll taxes are allocated when funding Medicare Part A"
[Medicare Part A](https://www.medicare.gov/what-medicare-covers/part-a/what-part-a-covers.html) is the only piece of Medicare funded directly by payroll taxes. We'd like to show how each tax dollar is spent on different categories of expenditure: home health care, skilled nursing facilities, hospital stays, etc.

[2017-02-10 21:01] jenniferthompson commented on #47
@mattgawarecki Do you have a link for the Medicare Part A report source?

[2017-02-10 21:04] jenniferthompson opened #48 "Visualize/model relationship between lobbying expenditures and brand name prices"
We have [data from OpenSecrets](https://github.com/Data4Democracy/drug-spending/tree/master/datadictionaries) on lobbying expenditures from pharmaceutical companies, and keys are in progress to join this with Medicare Part D spending data (see issue #37). Once we can join these datasets, we'd like to see if there is a relationship between lobbying expenditures and Medicare costs for those companie

[2017-02-10 21:08] jenniferthompson opened #49 "Explore and extract data from data.cms.gov"
[Data.CMS.gov](https://data.cms.gov/) is the Centers for Medicare and Medicaid Spending data repository. Every time we go to the site we find more data available. We need people to look for potentially helpful datasets there, crosscheck against what [we already have available](https://data.world/data4democracy/drug-spending), and post when they find promising data so that we can create new issues

[2017-02-12 23:09] sangxia commented on #45
I had a quick look at the data. Right now there are data for 2014, 2015 and part of 2013 (from aug 1). The files are relatively large, 6G for a full year, but there are overlaps in identity information so if we remove those it could probably be a lot smaller.

Wondering if anyone else is looking at this?

[2017-02-12 23:18] jenniferthompson commented on #45
@sangxia Not as far as I know! Let me know if you'd like me to assign you the issue.

[2017-02-13 02:41] sangxia commented on #45
@jenniferthompson I'd love to help with this.

[2017-02-13 02:58] jenniferthompson commented on #45
@sangxia go for it! Thank you!

[2017-02-13 17:13] jenniferthompson commented on #32
done!

[2017-02-13 17:13] #32 closed, assigned to jenniferthompson

[2017-02-13 17:16] kimkraunz commented on #46
Would love to work on this when #45 is complete.

[2017-02-13 20:54] TimBanks commented on #49
It looks like there's a well-documented API for getting a list based on various domains. Perhaps if other datasources use the same API, one "master" list could be generated.

http://docs.socratadiscovery.apiary.io/#reference/0/searching-particular-domains/domain-search-api

[2017-02-13 21:17] mattgawarecki commented on #49
@TimBanks Wow!
@jenniferthompson See anything useful here? (Beware, large JSON response!) http://api.us.socrata.com/api/catalog/v1?domains=data.cms.gov

[2017-02-14 03:38] cduvallet commented on #14
Updates after some poking around the Merck Manual and Medline Plus (I've seen a few other people working on RxNorm so I've left it alone for now...)

* The **[Merck Manual](http://www.merckmanuals.com/professional/appendixes/brand-names-of-some-commonly-used-drugs?startswith=a)** seems really useful. If you go to `Drug Information`, `Drugs by Name, Generic, and Brand` there is a table of generic a

[2017-02-14 05:18] TBusen commented on #14
I scraped and put into a dataframe the front page table of generic and brand... the js tables that pop up with the data from the linked drug will take some more time....  I'll have it up in a bit

[2017-02-15 04:44] travisbusen commented on #14
I took a stab at scraping this.  I was able to get the base table which is a xref of generic name - brand name.  To even get this required that I download the source html and then parse the file.  The script is currently on my fork.

Their site is not allowing direct url access.  You must use the menu system from what I can gather.  Even pasting the direct url in a browser doesn't work.  The same

[2017-02-15 05:30] jenniferthompson commented on #14
This is heroic work, you guys - thank you! I definitely agree that the Merck data could be helpful in general if we can get it without too much pain. @TBusen thanks for working on it - keep us posted; if it's painful we can talk about whether it's worth it!

@cduvallet to your very valid questions - the main thing we're after at this moment is a way to "translate" drugs into pharmaceutical and the

[2017-02-16 04:54] cduvallet commented on #14
Yes, happy to take a look this weekend or early next week! (I'm at a conference all day tomorrow and Friday). Do you want to make a new issue for this and assign it to me?

Also, since @TBusen seems to be chugging away at the Merck Manual scraping, perhaps that can become its own issue too?

Also, FWIW I think it'll likely be worth it - the Merck Manual has actual disease and condition names, rath

[2017-02-16 14:32] mattgawarecki opened #50 "Scrape Merck Manuals for drug names and uses"
# Task
The Merck Manuals website contains a listing of drugs, mapping generic names to brand names and listing usage indications (i.e., what the drug is prescribed for) with each one. We'd like to gather this data to build on our efforts to map drugs to their uses.

Start here: [Merck Manuals Professional Version - Drug Information](http://www.merckmanuals.com/professional/appendixes/brand-names-o

[2017-02-16 14:34] mattgawarecki commented on #14
Created issue #50 to create a dedicated ticket for the Merck Manual effort. If anyone needs help with scraping, feel free to contact me directly for help -- I've done a little bit of work in this area and may be of use.

[2017-02-17 04:51] domingohui commented on #50
I would love to help out on this one! Are we gathering all information of drugs listed [here](http://www.merckmanuals.com/professional/appendixes/brand-names-of-some-commonly-used-drugs?startswith=a)?

[2017-02-17 16:52] mattgawarecki commented on #50
@domingohui I think that's the goal, but I'm not as well acquainted with this task as some others in the project. I think @TBusen is heading up work on Merck Manual, if I recall correctly.

@TBusen, do you see any opportunities to pair with @domingohui on this issue?

[2017-02-17 23:28] davidlibland commented on #14
Epocrates https://online.epocrates.com/drugs also has a comprehensive list of drugs with their uses... But has anyone looked into whether scraping Merck or Epocrates violates the user agreements, esp. if the results are posted publicly on data.world?

[2017-02-18 02:27] travisbusen commented on #50
Absolutely!  although as you indicated, it's not as easy as just sending a get request and scraping... here's some lessons learned, where I'm at so far and some ideas on what I plan on trying next.

1)  To even get to the page not using a browser (ie Python) you need to add a user agent option in your get call  ie:
[code]
If you don't add this you get a 403 error

2) Calling the page directly
 htt

[2017-02-18 06:21] travisbusen commented on #50
I was able to navigate to the generic to brand name drug page using selenium.  See my PR for what I did.  Now that this is done the next step is to loop through all the drug name href tags to scrape the pop ups.

[2017-02-18 13:40] domingohui commented on #50
Thanks @TBusen
I didn't realize my link wans't working. Sorry about that! I will experiment with some of the options you suggested.

I don't know if you tried this already, but if you navigate to the pro version -> Drug Information -> Drugs by Name, Generic and Brand. When you click on a drug name, the website sends a request -
http://www.merckmanuals.com/Custom/LexicompMonograph/MonographByName?n

[2017-02-19 04:18] travisbusen commented on #50
that appears to be the return from the consumer page, not the pro page.  They seem to have different information returning between the two pages on the same drug.  I see in the network inspector where that is coming from and you're right the output is ugly, but I don't think we want the consumer view.

[2017-02-19 06:38] travisbusen commented on #50
good news, I think we will be able to get the data from the pop ups.  I was able to pull it in by locating the first table element, clicking it and then telling Selenium to look for an element that isn't visible in the body, the pop ups main body's class name is lexi-main, then find all paragraph elements.  I haven't looped through it yet since I didn't use drug name.  If you want to take my lates

[2017-02-19 22:41] rkahne commented on #45
How are things going here?  I'm interested in this data and am willing to help.

[2017-02-20 06:25] sangxia commented on #45
An update here:
For each year there are 3 tables: research agreement related payments, a general table containing all other payments, and physician ownership of manufacturer information. There is also a supplementary table containing all physician information. So far I've been mostly looking at the general table, cleaning up entity names, etc.

@rkahne Great if you can help. Would you be intereste

[2017-02-20 07:03] seamus-mckinsey commented on #49
How's the work going on this issue? I'd be happy to pitch in

[2017-02-20 13:05] mattgawarecki commented on #18
@davidlibland With PR #42, is this issue complete? Or did you have plans for further awesomeness? :smile:

[2017-02-20 14:51] mattgawarecki commented on #49
@seamus-mckinsey Could we get your contact information to invite you to our Slack group? Lots of discussion happening over there. 😄  I think it may also be worthwhile to get you invited to our GitHub organization. Feel free to send me an email so I can get your contact info: matt [dot] gawarecki [at] gmail [you know the rest].

[2017-02-20 14:57] mattgawarecki commented on #14
@davidlibland Thanks for reminding us on that. I've got an email out to Merck now, but I specifically left out the idea of us publishing their data on data.world, because let's be real -- that's never gonna happen. 😢  But, they _may_ let us use their data privately, which works almost as well! 👍

[2017-02-20 16:20] jenniferthompson commented on #49
@seamus-mckinsey just invited you to the Slack channel!

[2017-02-20 21:44] mattgawarecki commented on #47
@jenniferthompson Somehow I missed this issue -- sorry! 😞

A report gets drafted each year by the Medicare Board of Trustees to explain the status of Medicare's trust fund and other budgetary concerns. There's lots and lots of information in the report for anyone who feels like giving it a look. It's published on CMS.gov; you can find the latest issue for 2016 here:

[2016 ANNUAL REPORT OF THE BOA

[2017-02-20 21:50] mattgawarecki commented on #38
@mattgrieser Just checking in -- how's work on the glossary? We're all obviously volunteers so there's no pressure to deliver, I'm just curious if there's anything you need or if there are any obstacles we could help clear for you 😄

[2017-02-20 22:06] mattgawarecki commented on #40
Just going through the issues board and making sure everything's up to date -- how are we on this one? I want to say it seems like everything's up on data.world right now, but I'm not certain. @dhuppenkothen or @jenniferthompson, perhaps either of you would know more?

[2017-02-20 22:08] mattgawarecki commented on #37
Looks like we might be done with this issue! :grin: Any objections or concerns, @jenniferthompson @dhuppenkothen @skirmer ?

[2017-02-20 22:27] dhuppenkothen commented on #40
No, I'm pretty sure that there are files missing (since I certainly didn't upload them yet).
Sorry for dropping the ball on this; real life took precedence for a while. I've started generating the data sets for upload, but making the data dictionaries is taking a while longer.

[2017-02-20 22:34] mattgawarecki commented on #40
No worries! We're all volunteers here! :grin:

On Feb 20, 2017 4:27 PM, "Daniela Huppenkothen" <notifications@github.com>
wrote:

[2017-02-20 22:37] jenniferthompson commented on #37
My impression was that we still need one more key - but @skirmer would know best. I don't think anyone else took her up on the suggestion of working on it ;)

[2017-02-21 02:28] travisbusen commented on #14
Another good source of data:  http://www.pdr.net

Probably a long shot due to their TOS, but parking it here for completeness.
http://www.pdr.net/terms-of-use/

[2017-02-21 03:23] seamus-mckinsey commented on #49
Thanks for adding me @jenniferthompson and @mattgawarecki! Looking forward to helping out

[2017-02-21 04:31] mtelpoukhovskaia commented on #7
Looks nice so far.   It sounds like we are waiting for more information before continuing working on this issue.

[2017-02-21 04:44] travisbusen commented on #45
@rkahne I'll take one of these too.  Are you looking at research payment or ownership data?

[2017-02-21 14:45] rkahne commented on #45
@sangxia I'm more interested in the payments data.

[2017-02-21 15:29] davidlibland commented on #18
Dear Matt,
I feel like it is complete for now; until we have a better idea of how to incorporate it into the greater project...

- david

[2017-02-21 15:33] davidlibland commented on #14
@mgawarecki Thanks for contacting Merck, hopefully they will be happy to support the project (they might like the publicity for their data source). I've also noticed that google has a good deal of info pop up for many of the medications on the list. Has anyone tried to catalogue that? Otherwise, if I get the chance, I'll see if I can do anything to capture it.

[2017-02-21 15:38] mattgawarecki commented on #18
Alrighty! I'm going to close this issue for now, and as we get ideas for how to move forward, we can create new issues to track those efforts.

[2017-02-21 15:38] #18 closed, assigned to davidlibland

[2017-02-21 15:41] mattgawarecki commented on #14
@davidlibland Looks like Google even has a listing of which sources they use and how they gather that data: https://support.google.com/websearch/answer/2364942?p=medical_conditions&visit_id=1-636232883305572138-808022200&rd=1

Hope that helps as you look into it!

[2017-02-21 18:20] mattgrieser commented on #38
@mattgawarecki I have completed the initial document in '/docs', but would love to figure out a smooth way to find and add new terms.

[2017-02-21 18:48] mattgawarecki commented on #14
@TBusen @jenniferthompson @davidlibland

I got a reply back from Merck just now regarding our use of Merck Manuals. As much as I hate to say it, it would appear we can't use their data in our work. :cry:

[2017-02-21 18:50] mattgawarecki commented on #50
Hey all,

I just got a reply from Merck regarding our permission to use this data -- it's not great. :cry: See [my comment](https://github.com/Data4Democracy/drug-spending/issues/14#issuecomment-281438788) on #14.

In light of Merck's respectful declination, should we continue to keep this issue open?

[2017-02-21 18:52] mattgawarecki commented on #38
@mattgrieser What would you like to see in the way of smoothness? Do you envision something more substantial to track these sorts of definitions, like a web app? Or maybe something simpler but with less Git involvement?

[2017-02-21 19:20] mattgrieser commented on #38
@mattgawarecki Git would work fine. If people could post terms in need of definition here (or some central place), we could have people work on quick definitions.

[2017-02-21 19:47] jenniferthompson commented on #14
Oh, that's a bummer. Grateful for a quick response from them.

[2017-02-21 19:48] jenniferthompson commented on #50
Under the circumstances, probably best to close it. :cry:

[2017-02-21 19:52] jenniferthompson commented on #38
I think a lot of them come up in the discussion on Slack, but this is a better repository for to-do items, so perhaps a combo approach would work well: someone asks about a term, one of us makes sure to add it here so it can be worked on?

[2017-02-21 20:59] peter0083 commented on #14
man...... I thought Merck would be more generous with us because we were non-profit. 😞

[2017-02-22 21:56] skirmer commented on #14
Aw, well, maybe write back and ask her what other source she recommends?

[2017-02-23 14:38] mattgawarecki commented on #50
Closing.

[2017-02-23 14:38] #50 closed, assigned to TBusen

[2017-02-23 16:03] mattgawarecki opened #52 "Inventory gathered data and document relationships among sets"
# Status
The details of this issue are **currently being discussed in the comments below**. This issue may contain elements where development work is helpful, but is not primarily code-driven.

# Task
We should take a look at all the data we've gathered to document how and by which fields various datasets are interconnected.

# What we're looking for
To ensure it fits in with all our existing docu

[2017-02-23 16:07] jenniferthompson commented on #52
Definitely needed. Should this replace, be in addition to, or be combined with our current `/datadictionaries` [README](https://github.com/Data4Democracy/drug-spending/blob/master/datadictionaries/README.md) (which needs some updating)?

[2017-02-23 16:16] skirmer commented on #52
I think this file we're compiling with the one-line descriptions should link to the respective data dictionaries.

Edit: I gotta learn to read. I think that this might be more complicated than the Readme needs to be exactly, because of the specific info about linkages we're trying to build. But I could be wrong!

[2017-02-23 16:26] jenniferthompson commented on #52
@skirmer Yep, I agree that this is trying to do more. Just trying to figure out what the role of each (if we keep both) would be!

I could see:

- point 1 ("all the data sources we've gathered: what they're called, and a one-line description of what they contain") staying in the README, linked to each data dictionary and this new document, with point 2 (key fields + graphic description) being its

[2017-02-24 06:17] mtelpoukhovskaia commented on #22
@mrklees, I see there are 43 fields of interest that you've identified.  Are you currently looking for more , or working on tidying the data? I can help out on this issue.

[2017-02-24 20:47] skirmer commented on #52
As we were discussing in the slack channel, just to document it here, ggraph might be a good tool to use to illustrate the links between our datasets in a visual fashion.

[2017-02-27 15:36] sharonbrener commented on #52
Hey all! I know all of the data for this project lives on data.world, and that file descriptions and labels have been added to most files, but I wasn't sure if y'all knew that you can also add **column descriptions** to note key/joinable fields. That seems like it would be a great option for the second bullet point mentioned, and would keep that information living alongside the descriptions that a

[2017-02-27 15:56] jenniferthompson commented on #52
Definitely agreed - thanks for making sure we know about it, @sharonbrener!

(And I'm really excited about this coming-soon feature, guys! It looks awesome.)

[2017-02-27 15:59] sharonbrener commented on #52
This issue does highlight that along with our new data dictionary view, we should prioritize a way to export data dictionaries as MD files so they can be added to the repo as well. I'll bring that note back to our team.

[2017-02-28 17:37] jenniferthompson commented on #45
Just checking in to see how this is going. Anything we can help with? @sangxia @rkahne @TBusen

[2017-02-28 17:39] jenniferthompson commented on #37
@skirmer Just confirming - we still need some work on this issue to get the drug keys, correct?

[2017-02-28 17:43] jenniferthompson commented on #22
@mtelpoukhovskaia I'm not aware of any further work that's been done @mrklees's post, so if you'd like to run with this that would be great!

[2017-02-28 18:11] mrklees commented on #22
Hi @mtelpoukhovskaia, sorry for being unresponsive.  The most interesting data I have found through MEPS is the Prescribed Medicine Files (link in the gsheet).  It tracks patient spending and consumption of individual drugs along with a ton of demographic markers and other fields.  I have been working towards trying to combine all data from 1996 to 2014 into a single data file, but I have had a lo

[2017-03-01 14:03] kimkraunz commented on #45
I'd love to help too if there's anything that needs work/

[2017-03-01 14:22] travisbusen commented on #45
@jenniferthompson I haven't been able to get to this yet, sorry... life

[2017-03-01 14:29] kimkraunz commented on #45
@TBusen Do you think you'll get to it or should I start working on it?

[2017-03-01 14:42] travisbusen commented on #45
@kimkraunz go ahead and start.  Thanks.

[2017-03-01 14:45] jenniferthompson commented on #45
I hear you on life, @TBusen :)

Thanks for jumping in, @kimkraunz! I just added you to the D4D organization; once you accept that I can add you as an assignee for this issue.

[2017-03-02 13:41] kimkraunz commented on #45
I'm on it!  Just familiarizing myself now

[2017-03-02 15:46] skirmer commented on #37
@jenniferthompson Yes, and while I started a little bit of a stub to work on probabilistic matching between the drug names across datasets, other stuff in life has been taking over and I haven't had time to finish it. The key is that our drug spending files and the manufacturer file have very different labelings of drugs, generic, brand, etc, and we need to decide on a schema to match these and as

[2017-03-02 15:49] skirmer commented on #37
BTW, so sorry for my delayed response! I didn't get any notifications about this thread for some reason.

[2017-03-02 16:42] mattgawarecki commented on #45
Let's make sure the assignees on this issue are accurate -- anybody there who shouldn't be, or not there who should be?

[2017-03-02 16:58] jenniferthompson commented on #45
Looks good as far as I know - I tried to assign @kimkraunz yesterday but had to wait for her to be added to the org! @rkahne, are you still planning to work on this? If so we can add you as well.

[2017-03-06 13:40] kimkraunz commented on #45
OK- Have taken a look at the ownership data.  I need to do the following:
1.  Use the most recent version of record (if changed).
2. Standardize capitalization of variables (much inconsistency)
3. Clean terms_of_interest and put into tidy format.  It looks like it was a text box for inputting data and there's a wide range of values.  For example: some are "stock ownership" while others are "SERIES

[2017-03-06 15:40] jenniferthompson commented on #45
Thanks @kimkraunz! I think combining the years is a good plan - it'll make it easier to look at things over time.

We don't have physician keys yet to my knowledge - someone feel free to correct me if I missed it.

[2017-03-06 23:09] pirtleshell commented on #49
This is something I'd like to help out on! Could I also get a Slack invitation?

[2017-03-07 02:14] jenniferthompson commented on #49
@PirtleShell Hey Robert! I don't think I have the power to invite you to the Slack organization, but if you fill out [this contact form](http://datafordemocracy.org/contact.html) I think they'll get you started. Once you're in the organization, you can join the #drug-spending channel, or post here and one of us can invite you!

[2017-03-18 16:04] mattgawarecki commented on #9
I think @sgalletta213 gave us exactly the information we were after for this ticket. Closing! 👍

[2017-03-18 16:04] #9 closed, assigned to nobody

[2017-03-18 16:21] mattgawarecki commented on #14
I think it's safe to assume the discussions in this ticket have led to a number of new tickets around linking drug names and uses. Of course, the Merck Manual didn't pan out the way we'd hoped, but other data and matching efforts have fared much better.

Closing this issue so we can focus on using the data we've found.

[2017-03-18 16:21] #14 closed, assigned to nobody

[2017-03-18 16:23] mattgawarecki commented on #22
@mrklees @mtelpoukhovskaia Checking in to see how work on this issue is going. If either of you has run into any obstacles, we'll do what we can to help. 👍

[2017-03-18 16:26] mattgawarecki commented on #37
@skirmer How's it going? I see you mentioned the need for a schema to be able to uniquely identify drugs; would this be good to talk about in Slack and then update this ticket once we figure it out? Maybe we can schedule some time for anyone interested to talk over Slack, Hangouts, or similar. Thoughts?

[2017-03-28 15:25] mallaham commented on #48
I'm interested in this project :)

[2017-03-28 16:19] jenniferthompson commented on #48
@mallaham you should have an invitation to join the D4D organization; once you do that I can assign you!

[2017-03-28 16:27] mallaham commented on #48
done!

[2017-03-28 20:50] franckjay commented on #15
Hi all, I can try and help with the classification of drugs by use. I had a thought that we could do a Wikipedia scrape for each drug, looking for keywords?

[2017-03-31 21:19] atamalu commented on #48
I am interested in this project. Or really anything regarding drug lobbying expenditures

[2017-04-11 10:38] yanoak commented on #48
would be happy to help with data visualisation work on this project.

[2017-04-27 03:15] jenniferthompson opened #61 "Investigate + add data from drugbank.ca"
@cduvallet made us aware of a site ([drugbank.ca](https://www.drugbank.ca/releases/latest)) that looks like it has very promising data! We need someone to
1. Contact them to make sure it's OK if we download and process the data and include it in our data.world repo, of course giving proper citations (their [TOS](https://www.drugbank.ca/legal/terms_of_use) look promising)
1. Determine exactly what

[2017-04-27 20:56] cduvallet commented on #61
Thanks for making this issue @jenniferthompson!

* re: 1. I'll email them today!
* re: 2. It would be great to have help from someone who's been more involved in the data analysis projects happening here to work with me to figure out what the most interesting/useful part of the data will be. This can probably wait until after we've started poking around and seeing what's available in DrugBank.
* r

[2017-04-27 22:54] cduvallet commented on #61
They got back to me pretty quickly, and had some questions about data.world that I'm not sure I know the answer to:

Is there any way we can include their license and citation on data.world? I'm pretty sure it will be more characters than are allowed in the "description" on data.world, and I'm not sure where else dataset metadata can be put on data.world (which is pretty surprising...)

Alternativ

[2017-04-27 23:14] mattgawarecki commented on #61
I would suggest reaching out to one of our contacts with data.world inside
the D4D Slack group. I believe @gabriela might be a good first-line person
for this. I'll ping her in the channel now, and we can continue the
conversation there.

On Apr 27, 2017 5:54 PM, "cduvallet" <notifications@github.com> wrote:

[2017-05-09 20:48] amichp commented on #6
Just heard this project exists on  "partially derivative" podcast, and am looking around.

I suggest you might want to consider using this repository, and the data sources he uses, to deal with this issue:

https://github.com/fabkury/ndc_map

[2017-05-10 00:14] forzavitale commented on #61
hi all-- first time jumping in here!  at the NYC hackathon rn, seems like this issue is pretty recent and would like to start munging something.... guidance?

[2017-05-10 00:35] cduvallet commented on #61
@forzavitale I pinged the DrugBank people again to ask if we could just include the license and citation info in the header of the file, since we can't assign it to the file directly via data.world. They haven't gotten back to me about that though. That said, in my opinion it should be fine so you can probably start working on the data. Let's just make sure to check back in with them *before* we p

[2017-05-10 14:46] jenniferthompson commented on #61
I think that's a good plan @cduvallet - and at the speed the data.world folks move (read: blazing fast), it's entirely plausible that we might be able to assign a file-specific license by the time we're ready to post it.

[2017-05-10 16:07] cduvallet commented on #61
Update, just heard back from the DrugBank people and they said that including the info in the header of the file is fine. Full speed ahead!

@forzavitale can you update us on your progress from the hackathon (if you ended up working on this)?

[2017-05-10 16:19] jenniferthompson commented on #61
Fantastic! Thanks so much for following up, @cduvallet! 🎉

[2017-05-31 00:46] dbuijs commented on #6
Have a look at drugbank.ca, also Rxnorm (https://mor.nlm.nih.gov/RxNav/), also https://open.fda.gov/drug/label/

[2017-05-31 19:44] jenniferthompson commented on #6
Thanks @dbuijs! We've got an issue open for drugbank.ca (#61) if you're interested.

[2017-07-11 05:11] veenaghorakavi commented on #46
I can work on this.

[2017-07-20 16:15] andypicke commented on #48
I'm interested in helping. Is the data ready to be modeled, or is there more data collection/tidying that needs to be done first?

[2017-07-24 16:04] jenniferthompson commented on #48
Hi @atamalu, @yanoak and @andypicke! All the data we have cleaned and ready to go is in our [repo on data.world](https://data.world/data4democracy/drug-spending). You're welcome to see what interests you there! We haven't gotten the keys for lobbying and Medicare ready, unfortunately. The code for lobbying vs manufacturer keys is [in our repo here](https://github.com/Data4Democracy/drug-spending/t

[2017-07-27 19:28] andypicke commented on #48
thanks @jenniferthompson  . I'm going to start looking at some of the data, starting with 'spending_all_top100.csv' . Should I upload my notebook to the 'analysis-viz' folder?

[2017-07-27 21:55] jenniferthompson commented on #48
@andypicke Definitely, under whichever language you're using (we have `R/` and `python/` so far). That would be great!

[2017-07-27 22:03] andypicke commented on #48
@jenniferthompson  - Is the best way to do that to fork, add my notebook, and then pull request? Sorry, haven't worked on collaborative git projects much before.

[2017-07-28 19:10] jenniferthompson commented on #48
@andypicke Exactly! I hear you - D4D was my first major experience with git collaboration, and it's a great way to learn it. There's also a #github-help channel on the Slack team if you run into any trouble!

[2017-08-08 22:13] saipranava commented on #45
@jenniferthompson Hello. Is this task complete, I'm hoping to work on the task where we can visualize this data.

[2017-09-20 15:08] mattgawarecki opened #67 "Call for new leadership"
The existing team of maintainers is no longer able to give this project the proper attention it deserves. If you're interested in picking up where we've left off, submit your comments here or in the project Slack channel (#p-drug-spending).

[2017-09-20 15:19] ryoung29 commented on #67
I think I Brady has commenced privileges to the GitHub account. I can help
pick up the slack if you need it. Pun intended!

On Wed, Sep 20, 2017, 8:08 AM Matt Gawarecki <notifications@github.com>
wrote:

--
Regards,

Robert E. Young

[2017-10-03 04:45] AbhijithReddy commented on #48
Hi I have registered with D4D recently and even joined the slack channel. I'd like to work on a modelling model but as I am new  would love to have some mentorship.
Thanks in advance.

[2017-12-22 15:09] darya-akimova commented on #52
I'm officially reviving this issue haha, Have some free time with the holidays and I'd like to spend it on creating a useful data inventory/data dictionary for all of the datasets collected.

[2018-01-06 19:17] darya-akimova commented on #52
Submitted a pull request for data dictionary files that I created for most existing datasets on data.world.

Still to do:
- figure out which of the following datasets are most up to date and create a dictionary for it: companies_drugs_keyed.csv, manufacturers_drugs_cleaned.csv, and drugdata_clean.csv (which seem to be the same dataset, but slightly modified)
- A list or reference for which columns

[2018-01-08 15:52] darya-akimova opened #70 "Explore and/or tidy the FDA_NDC_Product dataset"
## Status

- @proof-by-accident has made progress on tidying the `FDA_NDC_Product.csv` dataset and is planning on tackling the exploration questions below.

## Task

Explore and/or possibly tidy the `FDA_NDC_Product.csv` dataset, found on data.world
Data dictionary: https://github.com/Data4Democracy/drug-spending/blob/master/datadictionaries/FDA_NDC_Product.md
Tidy format reference: https://ramnat

[2018-01-09 16:13] darya-akimova commented on #67
I think uh, I can safely close this haha.

[2018-01-09 16:13] #67 closed, assigned to nobody

[2018-01-10 01:38] proof-by-accident commented on #70
Hi, I'm interested in this task.  I'm new to this project and online collab in general, but not to cleaning/analyzing data sets for offline work, think it would be a good fit?

[2018-01-10 03:29] darya-akimova commented on #70
Hey, welcome! Sounds like you'd definitely be a good fit with those skills, and collaborating on github is fairly straightforward after some time using it. The D4D github playground repo is a great resource to get started, if you haven't checked it out yet and would like some practice. Is there a particular part of this task that you'd like to start with? Or any questions that I can answer?

[2018-01-10 04:15] proof-by-accident commented on #70
Thanks, I'm excited to help out! I haven't seen the playground yet, thanks for the heads up, I'll check that out for sure.  To start I think I could Tidy the dataset without too much difficulty, I'm familiar with basic tidyverse stuff and read through the attached reference page and "Principles of Tidy Data".  Are there any particular tools or other standard that you would prefer I use?

Beyond th

[2018-01-10 17:40] darya-akimova commented on #70
Congrats on your first commit and pull request! 👍

Thanks for your help, and feel free to use whichever tools you're most comfortable with. Please just save the tidy result to a .csv file, which makes for easy uploading to data.world where the datasets for this project live.

A Jupyter notebook or an R markdown file for any analysis work would be great. There's not really a standard format, the ma

[2018-01-12 00:51] proof-by-accident commented on #70
Great, thanks!

[2018-01-12 17:43] darya-akimova opened #71 "Tidy drug_list.json"
## Status

Assigning this to myself. Currently working on formatting the nested list of therapeutic areas into a workable format.

## Task

Tidy and/or possibly explore the `drug_list.json` dataset, found on data.world
Data dictionary: https://github.com/Data4Democracy/drug-spending/blob/master/datadictionaries/drug_list.md
Tidy format reference: https://ramnathv.github.io/pycon2014-r/explore/tidy

[2018-01-12 17:47] darya-akimova commented on #70
I had forgotten to ask, but have you joined the D4D slack and the #p-drug-spending channel there?

[2018-01-12 18:11] proof-by-accident commented on #70
I have, I'm "peter" on the channel.

[2018-01-12 19:09] darya-akimova commented on #38
This is something that can be done as we go along, but probably doesn't need its own separate issue.

[2018-01-12 19:09] #38 closed, assigned to mattgrieser

[2018-01-12 19:31] darya-akimova opened #72 "Find more Medicare Part D Spending data (if it exists)"
## Status

Currently being discussed in the comments down below.

- More data is available for 2010, but only for 40 drugs that were selected according to cms.gov criteria for the 2014 dashboard
- D4D Slack member Gilsha shared a research article on potential medicare savings if brand name drugs are exchanged for generics ( https://jamanetwork.com/journals/jamainternalmedicine/article-abstract/266

[2018-01-12 20:03] darya-akimova opened #73 "Tidy and upload Medicare Part B Drug Spending data (2011-2015)"
## Status

Assigning this to myself.

## Task

Medicare Part B Spending data .xlsx format, 2011-2015: https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Information-on-Prescription-Drugs/2015MedicareData.html

## What we're looking for

- Tidy data that can be uploaded on data.world, along side with the original data file.
- Create data dictionaries for all file

[2018-01-13 20:37] darya-akimova commented on #73
Resolved. Cleanup file added to R/datawrangling and data dictionary file added. Tidy Part B file has been uploaded to data.world.

[2018-01-13 20:37] #73 closed, assigned to darya-akimova

[2018-01-14 02:29] darwinyfu commented on #61
Is this still a project that needs help? I see the label but comments are fairly old.

Been lurking on D4D for a while but interested in working on something.

[2018-01-14 14:34] darya-akimova commented on #61
Hello! The project has been dormant for a while (hence the old comments), I'm one of the people that's trying to get this project going again. Any issue with the label status-under-review can be ignored for now, it either can't be tackled yet or may need to be trimmed/reformatted. This is one of the older issues that I thought would be good to try and get through because drugbank.ca materials seem

[2018-01-15 02:23] cmventura commented on #72
Found the 2011-2015 data and it looks like they added the 2015 data in Dec of 2016.  CMS used to be pretty consistent with when they release this data, so I would have expected 2016 to have been posted in Dec.  I wouldn't be surprised if it was posted soon, but, unfortunately, some data feeds have stopped being updated under the new administration.  Hopefully this isn't one of them.

[2018-01-15 18:15] darya-akimova commented on #72
I'm guessing that you're talking about the data available here: https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Information-on-Prescription-Drugs/2015MedicareData.html

I found that link pinned to the p-drug-spending slack channel only after I posted the issue haha, but it does seem to be the source of the original data. You're probably right, the 2016 data s

[2018-01-15 18:43] cmventura commented on #72
So actually found the 2010 data on the Wayback Machine!

Attaching to this response, and here is a link: https://web.archive.org/web/20160217003356/https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Information-on-Prescription-Drugs/Downloads/Drug_Spending_Data.zip

Looks like the 2014 data they posted in late 2015 contained 2010 data.  I've actually had a fair

[2018-01-15 18:57] cmventura commented on #72
Well apparently I didn't need to go to the Wayback Machine because I found it on CMS.gov here:
https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Information-on-Prescription-Drugs/2014Medicare.html

[2018-01-15 23:19] ChayaSt opened #75 "[WIP] Join Medicare data to USP drug classification"
## Status
Assigned to myself

## Task
We want to join the Medicare spending data sets with the USP drug classification so that we can relate drug spending to therapeutic indications. I will be starting with the USP drug classification because we find that their description is more accessible than ATC (which is more technical).

## What we're looking for
I want to join the Medicare `drugname_generi

[2018-01-16 22:14] darya-akimova commented on #72
The problem with the dataset for 2014 on the cms.gov website, is that it's a small subset of the data that they've selected for the interactive dashboard found on the website, amounting to 40 Part B and 40 Part D drugs that meet certain criteria. The Medicare 2011-2015 data made available in 2016 is much more extensive data on more drugs. Still, this dataset could be useful for some drugs. The Way

[2018-01-17 21:53] darya-akimova opened #76 "Join Medicare Part D spending data to ATC Classification System"
## Status

- @darwinyfu has expressed interest in working on this problem
- Ongoing: @Anandkarthick has made progress on this issue by matching the spending files to `drug_uses.csv` (on data.world) by the `drugname_generic`

### Update:
- Upon working with it, I've discovered that `drug_uses.csv` is missing drugs that should be in the ATC system (and are present in the `atc_codes_clean.csv` datase

[2018-01-18 02:24] cmventura commented on #72
My bad on the 2010 data, should have dug a little deeper.  Regardless, I'm guessing the 2011-2015 data should be enough to tackle some initiatives if we have anything specific in mind.  Did some quick digging and you can definitely see some interesting trends (like Sovaldi going from 14k per user per year to 94k from 13-14).  However, given how CMS pays Part D plans it might be difficult to prove/

[2018-01-18 03:23] Anandkarthick commented on #76
I just completed this task for one dataset.. spending_2011. How can I share the dataset? just wanted to get a comment before doing this for all dataset.

[2018-01-23 17:17] darya-akimova commented on #72
Oh that's an interesting point on drug pricing jumps - how does CMS pay Part D plans that makes you say that? And what do you mean by jumps paid by the consumer/CMS vs taken as a loss by plans? I'm not very familiar with exactly how Medicare works behind the scenes, could you please recommend some resources that could be helpful in understanding the context better? Thank you!

[2018-01-24 02:01] cmventura commented on #72
I can try to find some good source documentation after this week ([this might be a good start](http://www.medpac.gov/docs/default-source/payment-basics/medpac_payment_basics_16_partd_final.pdf?sfvrsn=0)), but Part D plans are paid monthly rates by CMS for every person they insure.  This rate is adjusted based on a "risk score" derived from conditions the person was coded with in the prior year, re

[2018-01-25 23:34] darya-akimova commented on #72
Yeah that does make sense now, thanks for the explanation and the resource! The insight is very much appreciated. Picking out drugs that experienced price spikes (or drops) is something that I've been interested in, it's good to know that those numbers can't be taken at face value necessarily.

[2018-02-06 03:13] darya-akimova commented on #71
After some exploration, realized that this dataset only goes back to 1995 and does not include generics, so it is too limited for the purposes of this project. Will close and abandon this issue.

[2018-02-06 03:13] #71 closed, assigned to darya-akimova

[2018-03-26 14:50] darya-akimova commented on #61
In PR #83 @proof-by-accident investigated how many of the Medicare drugs can be found in the drugbank.ca data. The results seem similar to matching attempts attempts from other sources: a good number of drugs can be matched easily on the first pass, but about twice as many were not matched and will probably require a non-trivial amount of research to match the rest properly.

[2018-04-02 20:16] darya-akimova commented on #6
Closing this issue in order to break it down into smaller issues to reduce the scope of the project.

[2018-04-02 20:16] #6 closed, assigned to nobody

[2018-04-02 20:18] darya-akimova commented on #15
Closing in order to restructure the issues and to change project scope.

[2018-04-02 20:18] #15 closed, assigned to dhuppenkothen

[2018-04-02 20:20] darya-akimova commented on #22
While the MEPS survey is uploaded on data.world, I'm not sure how it can be used at the current project step. Will close this issue for now and open a new one if there seems to be a use for it in the future.

[2018-04-02 20:20] #22 closed, assigned to mrklees

[2018-04-02 20:21] darya-akimova commented on #37
The lobbying aspect of the project is currently on hold. Will close this issue and reopen if this seems to be an interesting avenue in the future.

[2018-04-02 20:21] #37 closed, assigned to skirmer

[2018-04-02 20:23] #45 closed, assigned to kimkraunz, sangxia

[2018-04-02 20:23] #40 closed, assigned to dhuppenkothen

[2018-04-02 20:23] #46 closed, assigned to nobody

[2018-04-02 20:23] #47 closed, assigned to nobody

[2018-04-02 20:24] #72 closed, assigned to nobody

[2018-04-02 20:24] #76 closed, assigned to darya-akimova

[2018-04-02 20:25] #48 closed, assigned to nobody

[2018-04-03 10:19] acutrell commented on #61
I don't have the coding ability to do this, but I am knowledgeable about the domain as an informatics pharmacist and willing to offer some help from that aspect. Pretty sure the answer to this problem is the Structured Product Labeling (SPL). It is a document markup standard approved by Health Level Seven (HL7) and adopted by FDA as a mechanism for exchanging product and facility information.

Dif

[2018-04-03 14:32] darya-akimova commented on #61
Oh this seems great! The OpenFDA might be just what we need because you're right, we have been running into the issue where not everything is in one dataset and the names can be inconsistent between datasets. Thanks for this suggestion.

[2018-04-03 15:06] veenaghorakavi commented on #61
Can I help?

[2018-04-03 15:08] veenaghorakavi commented on #49
Can I help?

[2018-10-24 15:51] travisbusen commented on #61
Is this still active?  Can I start this or is this throw away work?

[2018-10-24 18:16] SeniorHealthcareAdvisors commented on #76
When CMS overhauls its Electronic Health Record (EHR) how will it affect
 [supplemental health insurance costs & Medicare Open Enrollment 2019?](http://www.seniorhealthcareadv.com)

[2019-12-13 17:40] Hilary325 commented on #75
It sounds good! I find the services that allow to take care of health to be very useful and helpful. I've already found a proper online drug store (after a long search I chose Canadian Pharmacy Online). And I've become interested in your project. Thanks for sharing!